<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
        <mime-mapping>
    	<extension>ttf</extension>
    	<mime-type>application/x-font-truetype</mime-type>
    </mime-mapping>
    <mime-mapping>
    	<extension>TTF</extension>
    	<mime-type>application/x-font-truetype</mime-type>
    </mime-mapping>
    <mime-mapping>
    	<extension>otf</extension>
    	<mime-type>font/opentype</mime-type>
    </mime-mapping>
</web-app>
